body {
	background-image: url('../mother.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;  -moz-background-size: 100% 100%;
	
}
form{
	color:#BE461E;
}
h4{
	color:#BE461E;
	font-weight: bold;
}
	
.fondo{
	background-color:rgba(75,75,75,0.9);
	padding: 0px 20px 0 20px;
}

.menu{
	color:#BE461E;
	padding: 5px;
}
.menu li:hover{
	background:rgba(190, 70, 30,0.8);
	color: black;
}
