/******************************************************
 ****************ESTILOS EJERCICIO 3
 * ******************************** 
 */

        
      
        
        .examplelabelboxshadow {
            color: #888;
            font-size: 20px;
            position: relative;
            top: 20px;
        }
        .exampleboxshadowa{
        	-webkit-box-shadow: -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowb{
        	-webkit-box-shadow: -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
			box-shadow:         -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
        	
        }
        
        .exampleboxshadowc{
        	-webkit-box-shadow:  -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
        }
        .exampleboxshadowd{
        	-webkit-box-shadow:  -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
        }
        
        .exampleboxshadowe{
        	-webkit-box-shadow: 0px 0px 7px 0px rgba(46, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 7px 0px rgba(46, 50, 50, 0.75);
			box-shadow:         0px 0px 7px 0px rgba(46, 50, 50, 0.75);
        	
        }
        .exampleboxshadowf{
        	-webkit-box-shadow: 0px 0px 6px 4px rgba(46, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 6px 4px rgba(46, 50, 50, 0.75);
			box-shadow:         0px 0px 6px 4px rgba(46, 50, 50, 0.75);
        }

        .exampleboxshadowg{
        	-webkit-box-shadow: inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
        }
        .exampleboxshadowh{
        	-webkit-box-shadow: inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
			box-shadow:         inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowi{
        	-webkit-box-shadow:  inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowj{
        	-webkit-box-shadow:  inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowk{
        	-webkit-box-shadow:  inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowl{
        	-webkit-box-shadow:  inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
        	
        }
/**************************************************************
 ************ESTILOS EJERCICIO 4*****************************
 * ****************************************************** 
 */
.examplemultiplebackgroundsa {
            width: 500px;
            height: 250px;
            font-family: Times;
            text-align: right;
            background-image: url(../img/ej4/decoration.png), url(../img/ej4/ribbon.png), url(../img/ej4/old_paper.jpg);
             background-position: left top, right bottom, center;
            background-repeat: no-repeat;
        } 
       .examplemultiplebackgroundsa p{
        	 font-family: Times;
            text-align: right;
            font-size:1.2em;
            font-weight:bold;
            margin:0px;
        }
/**************************************************************
 ************ESTILOS EJERCICIO 5*****************************
 * ****************************************************** 
 */
 .efectoFuentes p{ font-size: 2em; margin: 1em; padding: 0 5px; font-family: "Times New Roman",Georgia,Serif;font-weight: 500;}
 /*Nota: como este efecto, en la imagen del arkaiz se parecia como el c.. muy mal, 
  * he hecho lo que creo que se ajusta mejor a su intención 
  * Otra cosa que se le ha olvidado al arkaiz ha sido el de definir el tipo de fuente(fon-family), y su estilo
  * 
  *  
  */
 .efectoFuentes p:nth-child(1){
 	text-shadow: 0.02em 0.02em 0.1em black;
 	
 }
 .efectoFuentes p:nth-child(2){
 	color:white;
 	text-shadow: 0px 0px 50px rgba(255, 0, 0, 1),1px 1px 4px rgba(253, 0, 0, 1);
 }
  .efectoFuentes p:nth-child(3){
  	text-shadow: -5px -5px 5px rgba(255, 0, 0, 1),0px -5px 5px rgba(0, 255, 0, 1),0px 5px 5px rgba(0,0 , 255, 1);
  }
  .efectoFuentes p:nth-child(4){
  	color:white;
  	background-color: rgb(175,175,175);
  	/*
  	text-shadow: 0px 0px 2px black;
  	o mejor:*/
  	
text-shadow: 0px 1px black, 0px -1px  black,1px 0px black,-1px 0px black;
  	
  }
  .efectoFuentes p:nth-child(5){
  	color:grey;
  	background-color: grey;
  	text-shadow:-1px -1px white, 1px 1px black;
  }
  .efectoFuentes p:nth-child(6){
  	color:rgb(175,175,175);
  	background-color: rgb(175,175,175);
  	text-shadow:1px 1px white, -1px -1px black;
  }
 
 


/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */
/**************************************************************
 ************ESTILOS EJERCICIO 7*****************************
 * ****************************************************** 
 */
#container7{width: 300px; margin:auto;}
#container7 > div { margin-bottom: 10px; border: 1px dotted #000; width: 250px; }
.box { min-width: 200px; height: 100px; border: 5px solid gray; background-color: silver; margin: 25px auto; }

#ex01 div:nth-child(2){
	transform: translatex(100px) translatey(50px);
	-webkit-transform: translatex(100px) translatey(50px);
}
#ex01 div:nth-child(1):hover{
	transform: translatex(100px) translatey(50px);
	-webkit-transform: translatex(100px) translatey(50px);
}

#ex02 div:nth-child(2){
	margin-top:120px;
	transform: scale(2,2);
	-webkit-transform: scale(2,2);
}

#ex02 div:nth-child(1):hover{
	transform: scale(2,2);
	-webkit-transform: scale(2,2);
}

#ex03 div:nth-child(3){
	margin-top:88px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#ex03 div:nth-child(4){
	transform: rotate(45deg);
	transform-origin:top left;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin:top left;
}

#ex03 div:nth-child(1):hover{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
}

#ex03 div:nth-child(2):hover{
	transform: rotate(45deg);
	transform-origin:top left;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin:top left;
}

#ex04 div:nth-child(2){
	transform: skewX(35deg);
	-webkit-transform: skewX(35deg);
}

#ex04 div:nth-child(1):hover{
	transform: skewX(35deg);
	-webkit-transform: skewX(35deg);
}

/**************************************************************
 ************ESTILOS EJERCICIO 8*****************************
 * ****************************************************** */

#container8 { width: 500px; height:500px; position: relative;}
        .box_8 {
            width: 100px;
            height: 100px;
            background-color: red;
            font-size: 20px;
            position:absolute;
            padding: 5px;
            -webkit-transition: all 0.7s ease-out;
     		-moz-transition:   	all 0.7s ease-out;
       		-ms-transition: 	all 0.7s ease-out;
         	-o-transition: 		all 0.7s ease-out;
            transition: 		all 0.7s ease-out;
        }
       #container8:hover .box_8 {
            width: 50px;
            height: 50px;
            background-color: blue;
            color: yellow;
            font-size: 18px;    
           
        }
          
        .ex01_8 .box_8 {
            left: 10px;
            top: 10px;
        }
        #container8:hover .ex01_8 .box_8{
        	top:130px;
        	left: 400px;
        }
        
        .ex02_8 .box_8 {
            left: 10px;
            top: 130px;
        }
        #container8:hover .ex02_8 .box_8{
        	top:10px;
        	left: 400px;
        }
        .ex03_8 .box_8 {
            left: 10px;
            top: 250px;
        }
        #container8:hover .ex03_8 .box_8{
        	top:370px;
        	left: 400px;
        }
        .ex04_8 .box_8 {
            left: 10px;
            top: 370px;
        }
        #container8:hover .ex04_8 .box_8{
        	top:250px;
        	left: 400px;
        }
        
/**************************************************************
 ************ESTILOS EJERCICIO 9*****************************
 * ****************************************************** 
	He incluido algunas modificaciones en este ejercicio.
	He usado una sola animación por grupo, por una sencilla razón: el uso de dos animaciones
	no parcer funcionar muy bien
 */


 #container9{
            background: #666 url(../img/ej9/ej09_tree.jpg) no-repeat -60px 0;
            width: 420px;
            height: 480px;
            position: relative;
            overflow: hidden;
        }
        .snowflake {
            color: #fff;
            font-size: 2em;
            position: absolute;
        }
        .snowflake.f1 {
        	top:-30px;
            left: 40px;
            animation:bajada 4s infinite linear;
			-webkit-animation:bajada 2s infinite; /*Safari and Chrome*/
           
        }
        .snowflake.f2 {
        	left:120px;
				top:-30px;
            font-size: 1.8em;
            animation:bajada 4s infinite linear;
			-webkit-animation:bajada 4s infinite linear; /*Safari Chrome*/             
        }
        .snowflake.f3 {
            left: 200px;           
			top:-30px;
			  animation:bajada 4s infinite linear;
			-webkit-animation:bajada 4s infinite linear; /*Safari Chrome*/   
        }
        .snowflake.f4 {
            font-size: 1.5em;
            left: 280px;
				top:-30px;
				  animation:bajada 4s infinite linear;
			-webkit-animation:bajada 4s infinite linear; /*Safari Chrome*/   
       }
             
      
      .snowflake.a {
        	left:0px;
        	font-size:0.9em;
        	color: rgba(255,255,255,1);
   			text-shadow: 0 0 5px rgba(255,255,255,0.7);
            
           
			top:-480px;
        
          animation:bajadaa 24s infinite linear;
			-webkit-animation:bajadaa 24s infinite linear; /*Safari Chrome*/        
        }
        .snowflake.b {
        		left:60px;
        	font-size:0.9em;
        	color: rgba(255,255,255,1);
   			text-shadow: 0 0 5px rgba(255,255,255,0.7);
            
           
			top:-480px;
            
           animation:bajadab 24s 12s  infinite linear;
			-webkit-animation:bajadb 24s 12s infinite linear; /*Safari Chrome*/          
        }
        .snowflake.c {
        	left:0px;
        	font-size:0.9em;
        	color: rgba(255,255,255,1);
   			text-shadow: 0 0 5px rgba(255,255,255,0.7);
            
           
			top:-500px;
        
          animation:bajadac 16s infinite linear;
			-webkit-animation:bajadac 16s infinite linear; /*Safari Chrome*/        
        }
        .snowflake.d {
        		left:60px;
        	font-size:0.9em;
        	color: rgba(255,255,255,1);
   			text-shadow: 0 0 5px rgba(255,255,255,0.7);
            
           
			top:-500px;
            
           animation:bajadad 16s 8s  infinite linear; 
		/*	-webkit-animation:bajadad 16s 8s infinite linear; /*,movd 16s 8s linear infinite; /*Safari Chrome*/          
        }
      
        @keyframes bajadaa{
        	20%{left:20px;}
        	40%{left:10px;}
        	60%{left:30px;}
        	75%{opacity:0.5;}
        	80%{left:20px;}
        	93%{opacity:0;}
        	100%{top:480px; left:40px;opacity:0;}
        }
        @keyframes bajadab{
        	20%{left:80px;}
        	40%{left:75px;}
        	60%{left:62px;}
        	75%{opacity:0.5;}
        	80%{left:79px;}
        	93%{opacity:0;}
        	100%{top:480px; left:59px;opacity:0;}
        }
        @keyframes bajadac{
        	20%{left:60px;}
        	40%{left:120px;}
        	60%{left:100px;}
        	75%{opacity:0.5;}
        	80%{left:110px;}
        	93%{opacity:0;}
        	100%{top:480px; left:80px;opacity:0;}
        }
        @keyframes bajadad{
        	20%{left:45px;}
        	40%{left:65px;}
        	60%{left:85px;}
        	75%{opacity:0.5;}
        	80%{left:105px;}
        	93%{opacity:0;}
        	100%{top:480px; left:89px;opacity:0;}
        }
		@keyframes bajada{
			
			50%{top:240px; opacity: 1}
			75%{top:360px; opacity: 0.7}
			93%{opacity:0;}
			100%{top: 480px; opacity:0;}
			
			
		}
		
		
		
		

/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */

/**************************************************************
 ************ESTILOS EJERCICIO FINAL 2 *****************************
 * ****************************************************** 
 */
.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/ejFinal2/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}


#clock div {
    position: absolute;
}

#second img{
			animation:mover 60s infinite linear; 
			-webkit-animation:mover 1s infinite linear; /*,movd 16s 8s linear infinite; /*Safari Chrome*/        
		/*transform-origin: left bottom;*/ 
}

#minute{
	animation:mover 3600s infinite linear; 
			-webkit-animation:mover 3600s infinite linear; /*,movd 16s 8s linear infinite; /*Safari Chrome*/   
	
}
#hour{
			animation:mover 43200s infinite linear; 
			-webkit-animation:mover 43200s infinite linear; /*,movd 16s 8s linear infinite; /*Safari Chrome*/   
	
}
@keyframes mover{
	0%{}
	100%{
		transform: rotate(360deg);}
}