        
/******************************************************
 ****************ESTILOS EJERCICIO 3
 * ******************************** 
 */
 .offset { overflow: hidden; margin: 20px 0 40px 20px; 
 			padding: 15px /*Añadido para que se puedan ver las sombras de los recuadros de las esquinas */
			 }
        
        .offset div {
        	background-color: #eee;
            float:left;
            margin-top: 20px;
            margin-right: 40px;
            height: 65px;
            width:160px;
            text-align: center;
            
        }
        
        .examplelabelboxshadow {
            color: #888;
            font-size: 20px;
            position: relative;
            top: 20px;
        }
        .exampleboxshadowa{
        	-webkit-box-shadow: -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowb{
        	-webkit-box-shadow: -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
			box-shadow:         -5px -5px 3px 1px rgba(50, 50, 50, 0.5);
        	
        }
        
        .exampleboxshadowc{
        	-webkit-box-shadow:  -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
        }
        .exampleboxshadowd{
        	-webkit-box-shadow:  -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          -5px -5px 3px 5px rgba(50, 50, 50, 0.5);
        }
        
        .exampleboxshadowe{
        	-webkit-box-shadow: 0px 0px 5px 0px rgba(46, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 5px 0px rgba(46, 50, 50, 0.75);
			box-shadow:         0px 0px 5px 0px rgba(46, 50, 50, 0.75);
        	
        }
        .exampleboxshadowf{
        	-webkit-box-shadow: 0px 0px 6px 4px rgba(46, 50, 50, 0.75);
			-moz-box-shadow:    0px 0px 6px 4px rgba(46, 50, 50, 0.75);
			box-shadow:         0px 0px 6px 4px rgba(46, 50, 50, 0.75);
        }

        .exampleboxshadowg{
        	-webkit-box-shadow: inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
			box-shadow:         inset -5px -5px 0px 0px rgba(50, 50, 50, 0.5);
        }
        .exampleboxshadowh{
        	-webkit-box-shadow: inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:    inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
			box-shadow:         inset -4px -4px 4px 2px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowi{
        	-webkit-box-shadow:  inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
			box-shadow:          inset -5px -5px 0px 5px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowj{
        	-webkit-box-shadow:  inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset -5px -5px 4px 5px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowk{
        	-webkit-box-shadow:  inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
        	
        }
        .exampleboxshadowl{
        	-webkit-box-shadow:  inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
			-moz-box-shadow:     inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
			 box-shadow:         inset 0px 0px 4px 5px rgba(50, 50, 50, 0.5);
        	
        }
/**************************************************************
 ************ESTILOS EJERCICIO 4*****************************
 * ****************************************************** 
 */
.examplemultiplebackgroundsa {
            width: 500px;
            height: 250px;
        } 
/**************************************************************
 ************ESTILOS EJERCICIO 5*****************************
 * ****************************************************** 
 */
p { font-size: 2em; margin: 1em; padding: 0 5px; }


/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */
/**************************************************************
 ************ESTILOS EJERCICIO 7*****************************
 * ****************************************************** 
 */
#container > div { margin-bottom: 10px; border: 1px dotted #000; width: 250px; }
.box { width: 200px; height: 100px; border: 5px solid gray; background-color: silver; margin: 25px auto; }
/**************************************************************
 ************ESTILOS EJERCICIO 8*****************************
 * ****************************************************** 
 */
#container1 { width: 500px; height:500px; position: relative;}
        .box {
            width: 100px;
            height: 100px;
            background-color: red;
            font-size: 20px;
            position:absolute;
            padding: 5px;
        }
        .box:hover {
            width: 50px;
            height: 50px;
            background-color: blue;
            color: yellow;
            font-size: 18px;
            position:absolute;
        }
        .ex01 .box {
            left: 10px;
            top: 10px;
        }
        .ex02 .box {
            left: 10px;
            top: 130px;
        }
        .ex03 .box {
            left: 10px;
            top: 250px;
        }
        .ex04 .box {
            left: 10px;
            top: 370px;
        }
/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */

/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */

/**************************************************************
 ************ESTILOS EJERCICIO *****************************
 * ****************************************************** 
 */