/*
 * @autor: hesselek
 * 
 *   fuentes a utilizar;
 * font-family: vera-sans, sans-serif;
 * font-family: arimo, sans-serif;
 * font-family: pt-sans-caption, sans-serif;
 */


.encabezado{
	background:#333333;
	
	
}

.encabezado form{
	
	color:#CCCCCC;
}

#demo{
	/*background:#666666;*/
	padding-top: 10px;
	background-image: linear-gradient(to top, rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0px -8px 16px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -8px 16px -4px rgba(0,0,0,0.75);
	box-shadow: inset 0px -8px 16px -4px rgba(0,0,0,0.75);
}

.footer{
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 59%, rgba(0,0,0,0.65) 74%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0.65)), color-stop(74%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%,rgba(0,0,0,0.65) 74%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%,rgba(0,0,0,0.65) 74%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%,rgba(0,0,0,0.65) 74%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%,rgba(0,0,0,0.65) 74%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}



.footer .social li a {
  background:#444 url(../img/social.png) no-repeat top left;
}

#social {
  background:url(../img/texture1.png); 
  border-bottom:1px solid #ccc;
  -webkit-box-shadow: 5px 0px 5px rgba(0, 0, 0, .2);
       -moz-box-shadow: 5px 0px 5px rgba(0, 0, 0, .2);
            box-shadow: 5px 0px 5px rgba(0, 0, 0, .2);
            overflow: auto;
}

.social li a, input, textarea {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.social { list-style: none; margin: 20px 0px 20px 0; }
.social li { text-indent: -999em; float:left; }
.social li a{ background:#aaa url(../img/social.png) no-repeat top left; display: block; width: 32px; height: 32px; margin-left: 5px; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;}
.social li a:hover{ background-color:#999; }
.social li a.aim{ background-position: 0 0;  }
.social li a.aim:hover { background-color:#158698; } 
.social li a.behance{ background-position: -37px 0;  } 
.social li a.behance:hover { background-color:#18a3fd; }
.social li a.digg{ background-position: -74px 0;  } 
.social li a.digg:hover { background-color:#14589d; }
.social li a.dribbble{ background-position: -111px 0;  } 
.social li a.dribbble:hover { background-color:#bb3468; }
.social li a.ember{ background-position: -148px 0;  } 
.social li a.ember:hover { background-color:red; }
.social li a.evernote{ background-position: -185px 0;  }
.social li a.evernote:hover { background-color:#66a82e; }
.social li a.facebook{ background-position: -222px 0;  } 
.social li a.facebook:hover { background-color:#3b5997; }
.social li a.flickr{ background-position: -259px 0;  }
.social li a.flickr:hover { background-color:#fc0082 ; }
.social li a.forrst{ background-position: -296px 0;  }
.social li a.forrst:hover { background-color:#234417 ; }
.social li a.github{ background-position: -333px 0;  } 
.social li a.github:hover { background-color:#485d6b ; }
.social li a.google{ background-position: -370px 0;  } 
.social li a.google:hover { background-color:#d54a2e; }
.social li a.last-fm{ background-position: -407px 0;  } 
.social li a.last-fm:hover { background-color:#c00d17; }
.social li a.linkedin{ background-position: -444px 0;  }
.social li a.linkedin:hover { background-color:#1b7daa; } 
.social li a.paypal{ background-position: -481px 0;  } 
.social li a.rss{ background-position: -518px 0;  } 
.social li a.rss:hover { background-color:#ea8b02; } 
.social li a.sharethis{ background-position: -555px 0;  }
.social li a.sharethis:hover { background-color:#008651 ; } 
.social li a.skype{ background-position: -592px 0;  }
.social li a.skype:hover { background-color:#00aeef ; }
.social li a.tumblr{ background-position: -629px 0;  } 
.social li a.twitter{ background-position: -666px 0;  }
.social li a.twitter:hover { background-color:#009bca; } 
.social li a.vimeo{ background-position: -703px 0;  } 
.social li a.vimeo:hover { background-color:#0093cb; } 
.social li a.wordpress{ background-position: -740px 0;  } 
.social li a.wordpress:hover { background-color:#be461e; } 
.social li a.yahoo{ background-position: -777px 0;  } 
.social li a.yahoo:hover { background-color:#7b0098; } 
.social li a.youtube{ background-position: -814px 0;  } 
.social li a.youtube:hover { background-color:#ac2b26; } 
.social li a.zerply{ background-position: -851px 0; } 
.social li a.zerply:hover { background-color:#99bd68; }  

#copyright {
  padding:12px 0 6px 0;
  background:#000;
  color:#fff;
  font-size:13px;
}

#copyright small a {
  text-decoration:none !important;
  color:#fff !important;
}
.footer ul > li{
	list-style: none;
	display: inline-block; 
	
}
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
#registro{
	position:absolute;
	color:#CCCCCC;
	z-index: 10;
}

/* Default State */


/* Toggled State */
input[type=checkbox]:checked ~ #OTRO {
   opacity:0;
  transition:opacity 0.3s linear;*
 }
.lateral{
	background: #99CCFF;
	opacity: 0.3;
}
/*  ==============================================================
 * 			Efectos para las cajas
 * ==============================================================
 */
.servicios a{
	text-decoration: none;
}
.servicios:hover{
	color:#99CCFF;
	background:#666666;

	-webkit-box-shadow: 6px 6px 6px rgba(20, 20, 20, 0.75);
	-moz-box-shadow:    6px 6px 6px rgba(20, 20, 20, 0.75);
	box-shadow:         6px 6px 6px rgba(20, 20, 20, 0.75);
	transition: background 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
	
}
.servicios:hover ul{
	
	color:white;
	transition: color 0.5s ease-out;
}

.servicios:hover h3{
	color:#99CCFF;
	transition: color 0.5s ease-in-out;
}

.servicios ul{
	list-style:none;
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
   transition: color 0.5s ease-in-out;
}

.servicios{
	margin-bottom:10px;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	padding:15px;
	background: #999999;
	
	-webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.75);
	transition: background 0.5s ease-in,box-shadow 0.5s ease-out;
}

/*===========================================================
 * 					COLORES
 * =========================================================
 */
.darkblue{
	color:#336699;
	
}
.weak-grey{
	background: #CCCCCC;
	
}
.weak-blue{
	background:rgba(153,204,255,0.5);
	padding:7px;
	overflow: auto;
	margin-top:23px;
}

/*===========================================================
 * 					ESTILOS PERSONALIZADOS
 * font-family: vera-sans, sans-serif;
 * font-family: arimo, sans-serif;
 * font-family: pt-sans-caption, sans-serif;
 * =========================================================
 */

body {
	font-family: arimo, sans-serif;
}

h1{
	font-family: pt-sans-caption, sans-serif;
	font-weight: bold;
	color: 666666;
}

h2, h3, h4{
	font-family: vera-sans, sans-serif;
	font-weight: bold;
}


.barra{
display: block;
border-bottom: 3px solid #336699;
}
.barra2{
display: block;
border-bottom: 3px solid #666666;
}
.pad{
	padding:3px;
}
img{
	margin:5px;
}
